*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.postTitle{
    position: absolute;
    top: 20%;
    left: 35%;
}

.form{
    position: absolute;
    top: 40%;
    left: 38%;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form label{
    margin-bottom: 10px;
}

.form input{
    margin-bottom: 10px;
}

.form textarea{
    height: 150px;
    margin-bottom: 30px;
}

.form button{
    background: #fd586b !important;
    border: solid white !important;
}